@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


html {
  	box-sizing: border-box;
}

*, *::before, *::after {
  	box-sizing: inherit;
}

/* Color Pallete:
   
   Black: #000000
   White: #ffffff
   Blue: #75acaf
   Dark Blue: #72a9ae
   Light Grey: #efefef
   Dark Grey: #454545
   YT Red: #cd201f
   Twitter Blue: #55acee
   FB Blue: #3b5999

*/

/*Mobile First*/


 .col-main, .col-footer {
 	width: 100%;
 }
	
	/*header styles*/

h1, h2 {
	font-family:'advent_proregular' , serif;
	font-weight: bold;
	font-size: 25px;
	color: #75acaf;
}

body {
	font-family:'Frank Ruhl Libre', serif;
	font-size: 20px;
}

header {
	width: 100%;
}

.main-nav, li, a {
 	color: #000000;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}

.logo {
	width: 100%;
	padding: 30px;
	font-size: 30px;
	font-weight: bold;
	color: #75acaf;
	background-color: #ffffff;
	box-sizing: border-box;
}

.desktop-nav {
	display: none;
}


.desktop-nav ul {
	width: 100%;
}

.ham {
		height: 15px;
		margin:15px;
		padding-top: 5px;
		position: relative;
		float: right;
	}

	.ham, .ham:before, .ham:after {
		width: 30px;
		border-top: 5px solid black;
	}

	.ham:before {
		content: "";
		display:block;
		position: absolute;
		background: black;
	}

	.ham:after {
		content: "";
		display: block;
		background: black;
		position: absolute;
		bottom: 0;
	}


/*mobile nav styling*/
.mobile-nav {
	width: 100%;
	clear: both;
}

.mobile-nav-container {
	position: relative;
	clear: both;
}

.mobile-nav li {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	background: #75acaf;
	border-bottom: 1px solid #000000;

}
/*background image*/
body {
	background-image: url("../img/white-waves.png");
}

/*aside/img styling*/
.img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

aside {
	width: 40%;
	float:left;
	box-sizing: border-box;
}


/*table styling*/
 th, tr, td {
	padding: 15px;
	border: 1px solid black;
	text-align: center;
	border-collapse: collapse;
}

th {
	padding: 15px;
	background-color: #ffffff;
	color: #75acaf; 
}

tr:nth-child(odd) {
  background: #efefef;
}

/*footer styling*/

footer {
	background: #454545
}



.foot-nav li a {
	text-decoration: none;
	color: #ffffff;
}

/*social media icons styling*/
.fb {
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 50%;
	color: #ffffff;
	background-color: #3b5999;
	text-align: center;
}

.yt {
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 50%;
	color: #ffffff;
	background-color: #cd201f;

}

.tw {
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 50%;
	color: #ffffff;
	background-color: #55acee;	
}


.info {
	color: #ffffff;
}


/*desktop styling*/

@media only screen and (min-width: 768px) {

.mobile-nav {
	display: none;
}

/*desktop logo styling*/

.logo {
	display: block;
	float: left;
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
}

.logo:hover {
	width: 250px;
	color: #454545;
}

.transition-ease {

	transition: all 1s ease;
}
/*hamburger attempt*/

.ham {
		display: none;
		height: 15px;
		margin:15px;
		padding-top: 5px;
		position: relative;
		float: right;
		cursor: pointer;
	}

	.ham, .ham:before, .ham:after {
		width: 30px;
		border-top: 5px solid black;
	}

	.ham:before {
		content: "";
		display:block;
		position: absolute;
		background: white;
	}

	.ham:after {
		content: "";
		display: block;
		background: white;
		position: absolute;
		bottom: 0;
	}

/*header navigation styling*/
.desktop-nav {
	display: block;
	float: left;
	width: 100%;
	padding: 10px;
	color: #000000;
	background: #75acaf;
	box-sizing: border-box;
}


.head-links {
	float: left;
	width: 10%;
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
	color: #000000;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}

/*desktop text styling*/
.article {
	display: block;
	float: left;
    width: 60%;
	padding: 60px;
	box-sizing: border-box;
}

aside {
	padding: 40px;
}

/*aside img styling*/
img {
	display: block;
	float: right;
	width: 40%;
	padding: 35px;
	box-sizing: border-box;
}

/*desktop table styling*/

table {
	border: 1px solid black;
}

.table {
	width: 90%;
	padding: 50px;
	margin: 0 auto;
	border-collapse: collapse;
}

/*form styling*/
form {
	display: block;
	float: left;
	width: 40%;
	padding:50px;
	margin: 20px;
	box-sizing: border-box;
}

label {
	width: 100px;
	display: inline-block;
}

input, select {
	width: 250px;
	padding: 5px;
	border: 1px solid #000000;
	box-sizing: border-box;
}

/*submit button transition/hover styling*/
button {
	width: 80px;
	padding: 8px;
	margin-left: 260px;
}
button:hover {
	color: #efefef; 
	background-color: #72a9ae; 
}

.transition-ease-in {
	transition: all 1s ease-in;
}

/*profile results styling*/
#results {
	display: block;
	float: right;
	width: 30%;
	padding: 25px;
	margin: 80px;
	background-color: #ffffff;
	text-align: center;
	box-sizing: border-box;
}

/*desktop footer styling*/
footer {
	float: left;
	width: 100%;
	padding: 20px;
	background: #454545;
}
/*ddesktop-footer navigation*/
.foot-nav {
	display: block;
	float: left;
	width: 30%;
	padding: 40px;
	/*margin-left: 30px;*/
	box-sizing: border-box;
}

.foot-nav, li {
	color: #ffffff;
	text-decoration: none;
}

.foot-link-nav {
	display: inline-block;
	width: 150px;
}
/*footer social media links*/
.social-links {
	display: block;
	float: left;
	width: 30%;
	padding: 40px;
	box-sizing: border-box;
	color: #ffffff;
	text-align: center;
}


.fb {
	float: left;
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 50%;
	color: #ffffff;
	background-color: #3b5999;
	text-align: center;
}

.yt {
	float: left;
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 50%;
	color: #ffffff;
	background-color: #cd201f;

}

.tw {
	float: left;
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 50%;
	color: #ffffff;
	background-color: #55acee;	
}
/*profile icon*/
.pp {
	color: #454545;
}

.info {
	display: block;
	float: right;
	width: 30%;
	padding: 40px;
	box-sizing: border-box;
	text-align: center;
}

}
